

<!-- <ion-modal [isOpen]="loginModal.show" (willDismiss)="onWillDismiss()" style="--width: 350px; --height: 300px;">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        
        <ion-title>Admin connection</ion-title>

            <ion-button fill="icon-only" slot="end" (click)="onClose()">
              <ion-icon size="large"  name="close"></ion-icon>
            </ion-button>
        
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <div class="modal-content">

        <div>
          <div>
            <ion-input type="text" label="Login" [(ngModel)]="loginModal.user.login"></ion-input>
          </div>
      
          <div>
            <ion-input type="Password" label="Password" [(ngModel)]="loginModal.user.password"></ion-input>
          </div>
        </div>
        
        <div *ngIf="!this.user.connected">
          <ion-button fill="outline" (click)="validConnexion()">
            Connect
          </ion-button>
        </div>
        <div *ngIf="this.user.connected">

          <ion-button fill="outline" (click)="disconnexion()">
            Disconnect
          </ion-button>

        </div>

      </div>
      
    </ion-content>
  </ng-template>
</ion-modal> -->